<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris</title>
</head>
<body>
    <h1>Iris Classification</h1>
        <div class="container">
            <form action="{{url_for('predict')}}" method="POST">
                <label for="">Parameter1</label><br>
                <input type="text" name="p1"><br><br>

                <label for="">Parameter2</label><br>
                <input type="text" name="p2"><br><br>

                <label for="">Parameter3</label><br>
                <input type="text" name="p3"><br><br>

                <label for="">Parameter4</label><br>
                <input type="text" name="p4"><br><br>

                <input type="submit" name="predict" value="predict">
            </form>

            <p>Type : {{pred}}</p>

        </div>
    
</body>
</html>